body {
    background-color:  #7c807a;
    border:hidden;
    font-type: poppins;
    }
#curve {
    background-color: rgb(196, 245, 147);
    height: 1000px;
    width: 1000px;
    max-width: 1000px;
    max-height: 1000px;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    transform: translate(65%, -60%);
}
nav{
    display: inline;
    justify-content: space-between;
}
h1{
    display: inline;
    color: green;
}
p {
    display: block;
    text-align: left;
    font-size: 22px;
    border: hidden;
    padding: none;
}
.order {
    background-color: greenyellow;
    box-sizing: content-box;
    height: 500px;
    width: 150px;
    max-width: 150px;
    max-height: 50px;
    font-size: 24px; 
    border-top: 100%;
    border-bottom: 100%;
    border-left: 50%;
    border-right: 50%;
}
.rotating-food img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px;
    width: 100px;
    height: 100px;
}
.rotating-food img:first-child {
        transform: rotate(0deg) translateY(-200px);
        }
        
.rotating-food img:nth-child(2) {
        transform: rotate(45deg) translateY(-200px)
 }
 .rotating-food img:nth-child(3) {
        transform: rotate(90deg) translateY(-200px);
        }
.rotating-food img:nth-child(4) {
        transform: rotate(-45deg) translateY(-200px);
        }
.rotating-food img:nth-child(5) {
        transform: rotate(-90deg) translateY(-200px);
        }
nav {
        justify-content: space-between;
 }
 section{
   background-color: white;
   padding: 70px;
   border: 0% hidden;
 }
 #eat img{
     float: left;
     height: 35%;
     width: 40%;
     transform: translate(50% -40%);
 }
 #eat p{
     text-align: right;
     display: block;
     font-size: 20px;
 }
 #eat h1{
     color: orange;
     font-size: 40px;
 }
 #menu {
    background-color:#C9ECB5 ;
 }
#menu >h1{
    text-align: center;
}
#menu >h1>span{
    color: rgb(142, 207, 45);
}
#menu > .menu{
display: inline-flex;
justify-content: center;
flex-wrap: wrap;
width: 30%;
}
 .deals{
     background-color: #C9ECB5;
     border: none;
     padding: 5px;
 }
 .deals img{
     float: left;
     width: 20%;
     height: 10%;
 }
.deals p{
     text-align: right;
 }
 #contact{
     text-align: center;
     background-color: #FFD77C;
 }
 #contact p{
     text-align: center;
 }
